body {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

.button {
    background-color: rgba(88, 88, 88, 0.377);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:7px;
    padding-right:7px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
    box-shadow: none;
}

.navbar {
    background-color: rgba(88, 88, 88, 0.5);
    text-align: center;
    padding-right: 1%;
    padding-left:1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
    word-spacing: 10px;
    width:auto;
    margin-right:2.5%;
    margin-top: 1%;
    margin-bottom: 100px;
    float:right;
}

.header {
    font-size: 60pt;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    margin-left:10%;
}

.text {
    background-color: rgba(88, 88, 88, 0.5);
    padding:50px;
    margin-left:2.5%;
    margin-right:2.5%;
    text-align: center;
    border-radius: 10px;
}