body {
    background: rgb(66, 68, 75);
    /* background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);  */
    margin: 0px;
}

.button {
    background-color: rgba(255, 255, 255, 0.551);
    border-color:darkslategray;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:7px;
    padding-right:7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}



.navbar {
    background-color: rgb(25, 25, 25);
    text-align: center;
    padding-right: 1%;
    padding-left:1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    word-spacing: 10px;
    width:auto;
    /* margin-right:2.5%;
    margin-top: 1%; */
    margin-bottom: 100px;
    float:right;
}

.header {
    font-size: 60pt;
    font-style: italic;
    font-family: sans-serif;
    padding-top: 5%;
    padding-bottom: 1%;
    width: 100%;
    margin-left: 10%
}

.background {
    background-color: rgba(255, 255, 255, 0.412);
    padding:1%;
    margin-bottom: 2.5%;
    margin-left:2.5%;
    margin-right:2.5%;
    text-align: left;
    border-radius: 5px;
    border-color: goldenrod;
    border-width: 10px;
}

.text-home {
    font-size:15pt;
    text-align: center;
    padding-bottom:2.5%;
}

.photo {
    text-align: center;
    padding-bottom: 2%;
}

.wrapper {
    display: flex;
    padding-left: 1%;
}

.text {
    /* padding:50px; */
    /* margin-right: 50%; */
    font-size:15pt;
    flex: 1;
}

.pictures {
    margin-right: 2.5%;
    padding-left: 5%;
    /* margin-top:5%; */
}

#invis {
    display: none;
}

.footer{
    background-color: rgba(0, 0, 0, 0.785);
    width:98%;
    height: 5%;
    bottom:1;
    color:darkgrey;
    padding-left:1%;
    padding-top: 1%;
    padding-right: 1%;
}
